/* .registr {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.registrTitle {
    display: flex;
}

.registrLogin{
    color:aqua;
}

form {
    display: flex;
    flex-direction: column;
} */