.templateTopic {
    color:gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    align-items: center;
    width: 20%;
    flex-direction: column;
    gap: 10px;
}

.temlateTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    color: blue;

}
p{
    padding: 30px;
}

.btnTemplate {
    box-sizing: border-box;
    width: 150px;
}
