.post {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardPost {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    padding: 25px;
    border-radius: 8px;
    margin: 15px;
}

.imgCard {
    width: 300px;
    height: 180px;
    border-radius: 8px;
    margin: 0 auto;
}

.titleCard {
    font-size: 26px;
}

.textCard {
    font-size: 14px;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.datteCard {
    font-size: 14px;
    color: black;
}